{% extends "parametro/base.dj.html" %}

{% block content_parametro %}
<ul>
    <li>Listar</li>
    <li>Buscar</li>
    <li>Administrar</li>
    <li>Favoritos</li>
    <li>Crear</li>
</ul>
{% endblock%}
