{% extends "base.dj.html" %}
{% load static %}

{% block title %}
Parametros | {{SITE_NAME}}
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'parametro:application' %}">Parametro</a>
</li>
{% endblock breadcrumbs %}

{% block content_article %}
<div class="tile is-ancestor">
    <div class="tile is-parent is-2">
        {% block sidebar_left %}
        <aside class="sticky tile is-child box">
            {% include 'parametro/menu.dj.html' %}
        </aside>
        {% endblock sidebar_left %}
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box">
            {% block content_parametro %}
            {% endblock%}
        </div>
    </div>
</div>
{% endblock%}



