{% extends "parametro/base.dj.html" %}

{% block content_parametro %}
<h1 class="title">{{object.nombre}}</h1>
<figure><img src="{{object.icono.archivo.url}}" width="100px"></figure>
<section>{{object.descripcion}}</section>

{% endblock%}
