{% load widget_tweaks %}
{% load static %}

<form action="{{request.get_full_path|safe}}" enctype="multipart/form-data"
      method="post" id="member_form" class="django form">
    {% csrf_token %}
    <!-- tipo: radio button -->
    <div class="field" id="tipo-parametro">
            {% for key, tipo in form.tipo.field.choices %}
        <label class="radio">
            <input type="radio" name="tipo" value="{{key}}">{{tipo}}
        </label>
        {% endfor %}
    </div>

    <!-- nombre : input -->
    <div  class="field" id="field_nombre">
        <label class="label"
               for="{{form.nombre.id_for_label}}">
            {{form.nombre.label}}
        </label>
        <div class="control">
                {% render_field form.nombre class+="input is-medium" %}
        </div>
        <span class="help is-invalid">{{ form.nombre.errors }}</span>
    </div>
    <!-- unidad_medida -->
    <div  class="field" id="field_unidad_medida">
        <label class="label"
               for="{{form.unidad_medida.id_for_label}}">
            {{form.unidad_medida.label}}
        </label>
        <div class="control">
            {% render_field form.unidad_medida class+="input is-medium" %}
        </div>
        <span class="help is-invalid">{{ form.unidad_medida.errors }}</span>
    </div>
    <!-- descripcion -->
    <div  class="field" id="field_descripcion">
        <label class="label"
               for="{{form.descripcion.id_for_label}}">
            {{form.descripcion.label}}
        </label>
        <div class="control">
            {% render_field form.descripcion class+="textarea is-medium" %}
        </div>
        <span class="help is-invalid">{{ form.descripcion.errors }}</span>
    </div>
    <!-- icono -->
    <div  class="field" id="field_icono">
        <label class="label"
               for="{{form.icono.id_for_label}}">
            {{form.icono.label}}
        </label>
        <div class="control">
            {% render_field form.icono class+="select is-medium" %}
        </div>
        <span class="help is-invalid">{{ form.icono.errors }}</span>
    </div>
    <!-- botones de acción -->
    <div class="buttons are-medium columns">
        <div class="column">
            <button type="submit"
                    class="button is-primary is-fullwidth">
                {{action}}</button>
        </div>
        <div class="column">
            <a class="button is-warning is-fullwidth" href="{% if group %}
                      "{% url 'parametro:detail' object.slug %}"
               {% else %}
               {% url 'parametro:list' %}{% endif %}">
                Cancelar</a>
        </div>
    </div>
</form>
