{% extends "parametro/base.dj.html" %}
{% load static %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'parametro:list' %}">Lista de Parametros</a>
</li>
{% endblock breadcrumbs %}

<!-- lista de parametros creados -->
{% block content_parametro %}
<div class="tile is-child">
    <h2 class="title is-2">
        <i class="fa fa-groups-manager-group"></i> Parametros
    </h2>
</div>
<div class="tile is-child">
<table class="table is-hoverable is-fullwidth is-striped" id="clasification_list">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th class="has-text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for parametro in object_list %}
        <tr class="">
            <td class=""><a href="{{parametro.get_absolute_url}}">{{parametro.nombre}}</a></td>
            <td class="">{{parametro.descripcion}}</td>
            <td class="is-horizontal">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_project %}
                <a href="{% url 'parametro:update' parametro.id %}" class="button is-warning is-small is-block">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_project %}
                <a href="{% url 'parametro:delete' parametro.id %}"
                   class="button is-danger is-small is-block">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
