<section class="accordions">
    {% for app, group in menu.items %}
    <div class="accordion {% if app == app_active %}is-active{% endif%} is-success">
        <p class="accordion-header toggle">
            {{app}}
        </p>
        <ul class="accordion-body">
            {% for elem in group %}
            <li class="accordion-content">{{elem.html|safe}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</section>
