{% load widget_tweaks %}
{% load static %}

<!-- django simple captcha field + (bulma css) -->
<div id="captcha-info" class="tile">
    <div class="tile is-parent">
        <div class="tile is-child box">
            <label class="label" id="captcha-label"
                   for="{{captcha.id_for_label}}">
                ¿Qué dice en la imagen? (captcha)
            </label>
            <div id="group-img-button-captcha" class="columns">
                <div class="column is-6" id="captcha_image"></div>
                <div class="column is-6" id="refresh_button">
                    
                </div>
            </div>
            <div class="field field_inscripcion columns">
                <div class="tile is-parent">
                    <div class="tile is-child">
                     <div class="control column">
                         {% render_field captcha class+="input" %}
                     </div>
                     <span class="error">{{ captcha.errors }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
 #img-captcha{
width:250px;
height:auto;
 }
</style>
