<div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
        <button class="button is-link"
                aria-haspopup="true"
                aria-controls="dropdown-share">
            <span class="icon is-medium"> <i class="fas fa-share-alt"></i></span>
            <span>Compartir</span></button>
    </div>
    {% include 'share_menu.dj.html' with data=item.share_data %}
</div>

