{% load static %}
<div class="modal" id="modal_{{param}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Mi Ubicación</p>
            <button type="button" id="modal_close_{{param}}" class="modal-close is-large"
                    aria-label="close">
                <span class="icon is-medium">
                    <i class="fas fa-close fa-2x"></i>
                </span>
            </button>            
        </header>
        <section class="modal-card-body">
            {% include 'map_point.dj.html' with map_id='map_modal' %}
    </section>
    <footer class="modal-card-foot">
        <button id="take_position"
                type="button"
                class="button is-success">Guardar</button>
        <button type="button"
                class="button is-warning"  id="btn_modal_close_{{param}}">Olvidar</button>
    </footer>
</div>
</div>
<script>
 window.addEventListener("DOMContentLoaded", function(event) {
 })
</script>
