{% load static %}
{% load thumbnail %}
<div class="modal" id="modal_{{param}}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Seleccionar imagen de perfil</p>
      <button class="delete" onclick="close_modal('modal_{{param}}')" type="button" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <div class="columns">
            <div class="column">
                <div class="file has-name is-boxed">
                   <label class="file-label">
                     <input class="file-input" type="file" name="{{param}}"
  value="{{MEDIA_ROOT}}{{image.image}}"  accept="image/*" id="{{param}}_file">
                     <span class="file-cta">
                       <span class="file-icon">
                         <i class="fas fa-upload"></i>
                       </span>
                       <span class="file-label">
                         Escoge una nueva imagen…
                       </span>
                     </span>
                     <span class="file-name" id="{{param}}_name">
                       archivo_perfil.png
                     </span>
                   </label>
                </div>
                <div class="field">
                    <input type="input" class="input" value="{{image.tag}}"
                           name="tag" id="tag_image">
                </div>
            </div>
            <div class="column">
                <figure class="thumb_imagen profile">
                    <img src="{% if image %}{{ image.image.url }}{% endif %}" id="{{param}}_show">
                </figure>
            </div>            
        </div>
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button type="button" class="button is-success" onclick="save_image_profile(this)">Guardar Cambios</button>
      <button type="button" class="button" id="modal_close_{{param}}" onclick="update_field(this)">Cerrar</button>
    </footer>
  </div>
</div>
