{% extends 'base.dj.html' %}
{% load static %}

{% block title %}Nosotras y Nosotros|Curso de Programación{% endblock %}


{% block title_article %}
Aplicaciones disponibles
{% endblock title_article %}

{% block content_article %}
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile is-child box">
           <ul>
               <li><a href="{% url 'parametro:application' %}">Parametros</a></li>
               <li><a href="{% url 'proyecto:application' %}">Proyectos</a></li>
           </ul>
        </div>
    </div>
</div>

{% endblock %}
