{% load static %}

<section class="hero is-medium has-carousel is-info">
    <div id="carousel-web" class="hero-carousel">
        <div class="item-1">
            <div class="tile is-parent">
                <!-- Slide Content -->
                <div class="tile is-child has-text-centered">
                </div>
                <div class="tile is-child texto-carrusel">
                </div>
            </div>
        </div>
        <div class="item-2">
            <div class="tile is-parent">
                <!-- Slide Content -->
                <div class="tile is-child has-text-centered">
                </div>
                <div class="tile is-child texto-carrusel">
                </div>
            </div>
        </div>
        <div class="item-3">
            <div class="tile is-parent">
                <!-- Slide Content -->
                <div class="tile is-child has-text-centered">
                </div>
                <div class="tile is-child texto-carrusel">
                </div>
            </div>
            <!-- Slide Content -->
        </div>
    </div>

    <div class="hero-body">
        <div class="container">
        </div>
    </div>
</section>
