<section class="hero is-cielo">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{TITULO}}
            </h1>
            <h2 class="subtitle">
                {{SUBTITULO}}
            </h2>
        </div>
    </div>
</section>
