{% extends 'base.dj.html' %}
{% load static %}

{% block title %}Curso de Programación para Organizaciones Comunitarias{% endblock %}


{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block content_article %}
<div class="mdl-grid">
    <div class="mdl-cell--3-offset"></div>
    <article class="{{proyecto_data.curso.slug_titulo}} mdl-cell mdl-cell--6-col">
        <h1>Curso de Programación para Organizaciones Comunitarias</h1>


        <figure id="img_afiche">
            <img src="{% static './home/img/afiche2_curso_ciclo1_gnulinux_jueves29agosto.png' %}">
</figure>
<section>
    <p>Estamos muy contentos de comunicarle a la comunidad que hemos logrado iniciar una nueva etapa de realización de nuestro Curso de Programación para Organizaciones Comunitarias. Queremos invitarla a que participe y se nos una a compartir conocimientos y experiencias sobre tecnologías libres.</p>

    <p>Consideramos que es muy importante que las organizaciones sociales, comunitarias, cooperativas, colectivos, etc. [OOCC] tengan la capacidad de comprender y crear tecnología con un pensamiento desde lo comunitario.  Por eso nuestro enfoque es distinto a como lo haría una universidad u otra institución. Fomentamos el uso y desarrollo de tecnologías libres, el trabajo colaborativo y el aporte a la riqueza común.</p>

    <p>Ver documento: <a href="https://www.mediafire.com/file/9jgqmhi45lp2tw7/391180922-Software-Libre-desde-lo-Comunitario_%281%29.pdf/file">Software Libre desde lo Comunitario</a></p>

    <p>Esta vez se realizará en las dependencias de la <a href="https://www.facebook.com/GUASASAPO/">Cooperativa Guasasapo </a> , que amablemente nos facilitará un espacio para realizar nuestras sesiones de educación tecnológica.</p>

    Los días de clases son:
    <ul>
	      <li>lunes de 19:00 a 21:00 hr (puntual)</li>
	      <li>jueves de 19:00 a 21:00 hr (puntual)</li>
    </ul>
    En suma, unas 40 horas de clases.

    <a href="https://www.google.cl/maps/place/Tocornal+1719,+Santiago,+Regi%C3%B3n+Metropolitana/@-33.4673357,-70.6378006,17z/data=!3m1!4b1!4m5!3m4!1s0x9662c542e462d189:0x303c7f47d50003!8m2!3d-33.4673402!4d-70.6356119">La dirección es Tocornal 1719, Santiago (Barrio Matta Sur)</a>

    <p>Sin embargo, aunque nuestro trabajo esté dedicado a personas que si participan con y en las organizaciones comunitarias, será posible también que personas independientes participen de esta experiencia pedagógica.</p>

    <p>Ver documento: <a href="https://www.mediafire.com/file/kz2js69gpug1ps9/tecnocomunes.pdf/file">Tecnocomunes: Curso de Programación para Organizaciones Comunitarias.</a></p>

    <p>Con esto, invitamos a la comunidad a participar, aprender y enseñar este nuevo campo de trabajo. Nos entregará una facultad de poder sumergirnos en la cibernética de lo comunitario, crear nuevas herramientas de comunicación y de expresión.</p>

    <p> Un curso de características similares supera el valor de $500.000 pesos chilenos, nosotros lo ofreceremos a un valor muy conveniente (incluso para personas independientes)</p>
    <ul>
	      <li>$34.000 para personas con apoyo de su OOCC</li>
	      <li>$200.000 para personas independientes</li>
    </ul>

    <p>Es necesario aclarar que estos <b>precios</b> son dedicados completamente <b>para la autogestión</b> del
        proyecto, el pago de los costos de operación (servicios, espacio,
        etc), hosting web, etc.</p>

    <p>El valor de la matrícula incluye USB con GnuLinux.</p>

    <p>También, si se dan casos especiales, los consideraremos. El pago del curso se hace <strong>antes</strong> de comenzar las clases.</p>

    <strong>Fecha de Presentación del Proyecto </strong>

    Jueves 29 de Agosto

    En esta jornada se explicará presencialmente el sentido del curso, que herramientas se usarán y las reglas de trabajo

    <strong>Fecha Instalación SO Libre</strong>

    Sábado 31 de Agosto.

    Se realizará la instalación del sistema operativo libre y se explicará el uso básico.

    <strong>Fecha de Inicio de Clases</strong>

    Lunes 2 de Septiembre

    <strong>¿Qué materiales necesitas?</strong>

    Para este curso será necesario lo siguiente
    <ul>
	      <li>Computador portatil :: Puede ser uno viejito desde el año 2008 (100GB disco duro, 2GB Ram, mínimo).</li>
	      <li>Sistema Operativo GnuLinux :: Debian, LinuxMint o Ubuntu. se instalará en una jornada previa a comenzar las clases la distribución Debian 10.</li>
	      <li>Zapatilla Alargador :: Para conectarse a la electricidad</li>
	      <li>Cuaderno para apuntes y lápices :: Los apuntes son lo mas importante</li>
    </ul>
    <strong>Contenidos del Nivel 1: Procesamiento de la Información con GnuLinux</strong>

    El primer nivel está enfocado a que los/las estudiantes aprendan a manejar la información y comunicarse efectivamente con el ordenador (computadora). Para eso se entregarán los conocimientos para ejecutar comandos, buscar y seleccionar información, filtrar, gestionar el sistema de archivos y directorios. Con estos conocimientos fundamentales es posible ya comenzar a aprender a programar desde lo más básico.</section>

<section>
    <table style="width:100%">
        <tr>
            <th>Capítulo</th>
        </tr>
        <tr>
            <td>Lógica proposicional</td>
        </tr>
        <tr>
            <td>Teoría de conjuntos</td>
        </tr>
        <tr>
            <td>Control de versiones con Git (básico)</td>
        </tr>
        <tr>
            <td>Comandos básicos de la terminal</td>
        </tr>
        <tr>
            <td>Expresiones regulares</td>
        </tr>
        <tr>
            <td>Strings</td>
        </tr>
        <tr>
            <td>Datetime</td>
        </tr>
        <tr>
            <td>Awk básico</td>
        </tr>
        <tr>
            <td>Awk avanzado</td>
        </tr>
        <tr>
            <td>Scripts con argumentos</td>
        </tr>
        <tr>
            <td>Paralelización</td>
        </tr>
        <tr>
            <td>Gráficos con GnuPlot</td>
        </tr>
        <tr>
            <td>Aplicaciones con datos geográficos</td>
        </tr>
        <tr>
            <td>Introducción a bases de datos relacionales</td>
        </tr>
    </table>


</section>

<p></p>

    <section>

        <strong>Dudas, consultas, sugerencias</strong>

        Por favor, escribir un correo a cursodeprogramacion@disroot.org o a dpineda@uchile.cl

        <p></p>
    <strong>Carta de apoyo tipo</strong>

    <a
        href="https://gitlab.com/pineiden/web-curso-programacion/blob/master/www_programacion/files/media/docs/carta_apoyo.pdf">Carta
        de apoyo tipo</a>
    </section>

    <section>
        <h2>Inscribirse:</h2>
	      <a  class="mdl-navigation__link" title="Inscribirse" href="/inscripcion/{{SLUG_TITULO}}/{{SLUG_GENERACION}}">
            <figure>
                <img src="{% static './home/img/logo_n1.png' %}">
            </figure></a>
    </section>
    </article>

    <div class="mdl-cell--3-offset"></div>
</div>
    {% endblock content_article %}
