{% load static %}

<h1 class="title is-1">Curso de Programación para Organizaciones Comunitarias</h1>
<h2 class="title is-2">Aprendiendo a Programar y Procesar Información</h2>
<h2 class="title is-3">Terminal de Gnu/Linux, bash, grep, sed, awk y regex</h2>
<h3 class="title is-4">Generación: Perro Negro Matapacos</h3>
<figure id="img_afiche">
    <img src="{% static './home/img/afichematapacos.png' %}">
</figure>
<section>
    <p>Estamos muy contentos de comunicarle a la comunidad que hemos logrado
        iniciar una nueva etapa de realización de nuestro Curso de
        Programación para Organizaciones Comunitarias.</p>

    <p>Queremos invitarla a que participe y se nos una a compartir conocimientos y experiencias sobre tecnologías libres.</p>

    <p>Consideramos que es muy importante que las organizaciones sociales,
        comunitarias, cooperativas, colectivos, etc. [OOCC] tengan la capacidad
        de comprender y crear tecnología con un pensamiento desde lo
        comunitario.</p>

    <p>Por eso nuestro enfoque es distinto a como lo haría una universidad u otra institución. Fomentamos el uso y desarrollo de tecnologías libres, el trabajo colaborativo y el aporte a la riqueza común.</p>

    <p>Ver documento: <a href="https://www.mediafire.com/file/9jgqmhi45lp2tw7/391180922-Software-Libre-desde-lo-Comunitario_%281%29.pdf/file">Software Libre desde lo Comunitario</a></p>

    <p>Esta vez se realizará en las dependencias de la <a href="https://www.facebook.com/GUASASAPO/">Cooperativa Guasasapo </a> , que amablemente nos facilitará un espacio para realizar nuestras sesiones de educación tecnológica.</p>

    <p>Los días de clases son:</p>
    <section id="dates-table">
        <table>
            <thead>
                <tr>
                    <th>Fecha Inicio</th>
                    <th>Fecha Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2 enero 2020</td>
                    <td>19 marzo 2020</td>
                    
                </tr>
            </tbody>
            <tfoot><tr>Las fechas serán flexibles según la situación</tr></tfoot>
        </table>
    </section>
    <ul>
	      <li>lunes de 18:00 a 20:30 hr (puntual)</li>
	      <li>jueves de 18:00 a 20:30 hr (puntual)</li>
    </ul>
    <p> Además, se considera ayudantías para nivelar y taller de conocimientos
        solicitados por quienes sean estudiantes.</p>
    
    <p>En suma, al menos 40 horas de clases.</p>

    <strong>    <a href="https://www.google.cl/maps/place/Tocornal+1719,+Santiago,+Regi%C3%B3n+Metropolitana/@-33.4673357,-70.6378006,17z/data=!3m1!4b1!4m5!3m4!1s0x9662c542e462d189:0x303c7f47d50003!8m2!3d-33.4673402!4d-70.6356119">La dirección es Tocornal 1719, Santiago (Barrio Matta Sur)</a></strong>

    <p>Sin embargo, aunque nuestro trabajo esté dedicado a personas que si participan con y en las organizaciones comunitarias, será posible también que personas independientes participen de esta experiencia pedagógica.</p>

    <p>Ver documento: <a href="https://www.mediafire.com/file/kz2js69gpug1ps9/tecnocomunes.pdf/file">Tecnocomunes: Curso de Programación para Organizaciones Comunitarias.</a></p>

    <p>Con esto, invitamos a la comunidad a participar, aprender y enseñar este nuevo campo de trabajo. Nos entregará una facultad de poder sumergirnos en la cibernética de lo comunitario, crear nuevas herramientas de comunicación y de expresión.</p>

    <p> Un curso de características similares supera el valor de $500.000 pesos chilenos, nosotros lo ofreceremos a un valor muy conveniente (incluso para personas independientes)</p>
    <ul>
	      <li>$34.000 beca comunitaria, para personas con apoyo de su OOCC</li>
        <li>$34.000 beca recomendación, de personas u organización conocida,
            para entusiastas que deseen aprender para ayudar a su comunidad</li>
	      <li>$200.000 arancel normal</li>
    </ul>

    <p>Es necesario aclarar que estos <b>precios</b> son dedicados completamente <b>para la autogestión</b> del
        proyecto, el pago de los costos de operación (servicios, espacio,
        etc), hosting web, etc.</p>

    <p>El valor de la matrícula incluye USB con GnuLinux.</p>

    <p>También, si se dan casos especiales, los consideraremos. El pago del curso se hace <strong>antes</strong> de comenzar las clases.</p>

    <strong>Fecha de Presentación del Proyecto </strong>

    <p>Jueves 2 de enero 2020</p>

    <p>En esta jornada se explicará presencialmente el sentido del curso, que herramientas se usarán y las reglas de trabajo</p>

    <strong>Fecha Instalación SO Libre</strong>

    <p>Sábado 4 de enero 2020.</p>

    <p>Se realizará la instalación del sistema operativo libre y se explicará el uso básico.</p>

    <strong>Fecha de Inicio de Clases</strong>

    <p>Lunes 6 de Enero</p>

    <strong>¿Qué materiales necesitas?</strong>

    <p>Para este curso será necesario lo siguiente</p>
    <ul>
	      <li>Computador portatil :: Puede ser uno viejito desde el año 2008 (100GB disco duro, 2GB Ram, mínimo).</li>
	      <li>Sistema Operativo GnuLinux :: Debian, LinuxMint o Ubuntu. se instalará en una jornada previa a comenzar las clases la distribución Debian 10.</li>
	      <li>Zapatilla Alargador :: Para conectarse a la electricidad</li>
	      <li>Cuaderno para apuntes y lápices :: Los apuntes son lo mas importante</li>
    </ul>
    <strong>Contenidos del Nivel 1: Procesamiento de la Información con GnuLinux</strong>

    <p>El primer nivel está enfocado a que los/las estudiantes aprendan a
        manejar la información y comunicarse efectivamente con el ordenador
        (computadora).</p>
    <p>Para eso se entregarán los conocimientos para ejecutar
        comandos, buscar y seleccionar información, filtrar, gestionar el
        sistema de archivos y directorios. Con estos conocimientos fundamentales
        es posible ya comenzar a aprender a programar desde lo más básico.</p>
</section>

<section>
    <table style="width:100%">
        <tr>
            <th>Temas</th>
        </tr>
        <tr>
            <td>Lógica proposicional</td>
        </tr>
        <tr>
            <td>Teoría de conjuntos</td>
        </tr>
        <tr>
            <td>Control de versiones con Git (básico)</td>
        </tr>
        <tr>
            <td>Comandos básicos de la terminal</td>
        </tr>
        <tr>
            <td>Expresiones regulares</td>
        </tr>
        <tr>
            <td>Strings</td>
        </tr>
        <tr>
            <td>Datetime</td>
        </tr>
        <tr>
            <td>Awk básico</td>
        </tr>
        <tr>
            <td>Awk avanzado</td>
        </tr>
        <tr>
            <td>Scripts con argumentos</td>
        </tr>
    </table>


</section>

<p></p>

<section>

    <strong>Dudas, consultas, sugerencias</strong>

    <p>Por favor, escribir un correo a <a
                                           href="mailto:cursodeprogramacion@disroot.org">Curso</a> o a
        <a
            href="mailto:dpineda@uchile.cl">David Pineda</a></p>

    <p></p>
    <strong>Carta de apoyo tipo</strong>

    <a
        href="https://gitlab.com/pineiden/web-curso-programacion/blob/master/www_programacion/files/media/docs/carta_apoyo.pdf">Carta
        de apoyo tipo</a>
</section>

<section class="columns">
    <div class="column"></div>
    <section class="column is-three-quarters">
        <h2>Inscribirse:</h2>
	      <a  class="link" title="Inscribirse" href="/inscripcion/la-terminal-de-linux/negro-matapacos">
            <figure>
                <img src="{% static './home/img/logo_n1.png' %}">
            </figure></a>
    </section>
    <div class="column"></div>
</section>
<section>
    
</section>
