{% load i18n %}
{% load static %}
{% load widget_tweaks %}

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile is-child box has-background-pasto">
        <form  method="post"
               role="form"
               class="form"
               action="{{request.get_full_path}}">
            {% csrf_token %}
            <div class="field has-addons">
               <div class="control is-expanded">
                   {% render_field form.busqueda placeholder="Buscar proyecto" class+="input" %}
               </div>
               <div class="control">
                   <a class="button is-turquesa">
                       Buscar
                   </a>
               </div>
            </div>
        </form>
        </div>
    </div>
</div>
