@charset "utf-8"

// For thumb images, a square borderer with shadow
// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

.thumb_imagen
    margin-left: 5px
    margin-right: 5px
    -webkit-box-shadow: 0 4px 6px -3px #222
    -moz-box-shadow: 0 4px 6px -3px #222
    box-shadow: 0 4px 6px -3px #222

.sticky 
    position: -webkit-sticky
    position: sticky
    top: 30


// Home presentation for proyect-courses

.afiche
    width: 120px

.generation-data
    display: inline-block
    height: 100%


.icono
    width: 20px
    vertical-align: middle


.img_carousel
    width: 380px

.texto-carrusel
    display: flex
    align-items: center
    font-family: "Impact"
    font-size: 22px
    margin: 30px

// Define colors
$musgo: hsl(74, 39%, 44%)
$tronco: hsl(38, 26%, 50%)
$otoño: hsl(23, 69%, 54%)
$purpura: hsl(2, 42%, 50%)
$oscuro: hsl(7, 21%, 19%)
$cielo: hsl(210, 49%, 48%)
$turquesa: hsl(181, 79%, 36%)
$pasto: hsl(153, 13%, 51%)
$nube: hsl(110, 16%, 88%)


$musgo-invert: findColorInvert($musgo)
$tronco-invert: findColorInvert($tronco)
$otoño-invert: findColorInvert($otoño)
$purpura-invert: findColorInvert($purpura)
$oscuro-invert: findColorInvert($oscuro)
$cielo-invert: findColorInvert($cielo)
$turquesa-invert: findColorInvert($turquesa)
$pasto-invert: findColorInvert($pasto)
$nube-invert: findColorInvert($nube)


// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables"
$addColors: ( "musgo":($musgo, musgo-invert), "tronco": ($tronco, $tronco-invert), "otoño": ($otoño, $otoño-invert), "purpura": ($purpura, $purpura-invert), "oscuro": ($oscuro, $oscuro-invert), "cielo": ($cielo, $cielo-invert),"turquesa": ($turquesa, $turquesa-invert),"pasto": ($pasto, $pasto-invert), "nube": ($nube, $nube-invert))
$colors: map-merge($colors, $addColors);


@import "~bulma/bulma"
@import "~bulma-extensions/bulma-accordion/src/sass"
@import "~bulma-extensions/bulma-calendar/src/sass"
@import "~bulma-extensions/bulma-carousel/src/sass"
@import "~bulma-extensions/bulma-switch/src/sass"
