{% load widget_tweaks %}
<!-- member  -->
<div  class="field is-horizontal" id="field_member">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.member.id_for_label}}">
            {{form.member.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            <div class="select">
                {{form.member}}
                {% if member %}
                <input class="is-hidden" type="text" name="member"
                       value="{{form.member.initial}}"/>
                {% endif %}
            </div>
        </div>
        <span class="help is-invalid">{{ form.member.errors }}</span>
    </div>
</div>

<!-- roles -->
<div  class="field is-horizontal" id="field_roles">
    <div class="field-label is-normal">
        <label class="label"
               for="{{form.roles.id_for_label}}">
            {{form.roles.label}}</label>
    </div>
    <div class="field-body">
        <div class="control">
            <div class="select is-multiple">
                {{form.roles}}
            </div>
        </div>
        <span class="help is-invalid">{{ form.roles.errors }}</span>
    </div>
</div>


{% render_field form.group class+="select" value=group.id %}
