<!-- App Principal equipos -->
<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

{% block title %}
Grupos de Administración | {{SITE_NAME}}
{% endblock %}


{% block content_article%}
<div class="tile is-ancestor">
    {% block sidebar_left %}

    <div class="tile is-parent is-3">
        <!--menú de acceso a las opciones de reporte general -->
        <div class="tile is-child box">
            <div class="sticky">
                {% include 'admin_group/menu.dj.html' %}
            </div>
        </div>
    </div>
{% endblock sidebar_left %}

<div class="tile is-parent">
    <div class="tile is-child box">
        {% block content_groups_manager %}

        {% endblock content_groups_manager%}
    </div>
</div>
{% endblock %}
