{% extends 'admin_group/base.dj.html' %}
{% load widget_tweaks %}


{% block content_article %}
<h3 class="title is-3">Crear Grupo</h3>
<form action="."
      method="post"
      role="form"
      id="group_form"
      class="form">
      {% csrf_token %}
    <div class="field is-horizontal">
        <div class="field-label is-large">
            <label class="label">{{form.name.label}}</label>
        </div>
        <div class="field-body">
            <div class="field">
       <div class="control is-large is-expanded">
           {% render_field form.name class+="input is-large" placeholder+="Nombre del grupo" %}
       </div>
       <span class="">{{ form.name.errors }}</span>
            </div>
        </div>
    </div>
    <!-- description -->
    <div class="field is-horizontal">
        <div class="field-label is-large">
            <label class="label">{{form.description.label}}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-large is-expanded">
                    {% render_field form.description class+="textarea is-large" placeholder+="Descripción aquí" %}
                </div>
                <span class="">{{ form.name.errors }}</span>
            </div>
        </div>
    </div>
    <!-- guardar -->
    <div class="control">
        <button type="submit" class="button is-info is-fullwidth">Crear</button>
    </div>            
</form>
{% endblock content_article %}
