{% extends "groups_manager/bulma/member.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href=".">Add to group</a>
</li>
{% endblock breadcrumbs %}


{% block content_groups_manager %}

<h2 class="title is-4">
    <i class="fa fa-groups-manager-group-member"></i>
    {% if member %} Modificar {% else %}Agregar{% endif %} miembro {{member}} de {{object}}
</h2>


<form action="{{request.get_full_path}}" method="post" id="group_member_form" class="django form-horizontal">
    {% csrf_token %}

    {% include "admin_group/add_member_to_group.dj.html" %}

    <div class="columns">
        <div class="column">
            <button type="submit" class="button is-primary is-fullwidth">Submit</button>
        </div>
        <div class="column"> 
            <a class="button is-warning is-fullwidth" href="">Cancel</a>
        </div>
    </div>

</form>

{% endblock content_groups_manager %}
