{% extends 'admin_group/base.dj.html' %}

<!-- List groups: name, ammount users,  -->
{% block content_article%}
<div class="columns">
    <div class="column"></div>
    <div class="column">
        <h2 class="title is-2">Lista de Grupos</h2>
        <table class="table is-borderer is-striped is-hoverable">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Description</td>
                    <td>Detalle<td>
                    <td>Agregar</td>
                </tr>
            </thead>
            <tbody>
                {% for elem in object_list %}
                <tr class="table-models-item">
                    <td>{{elem.group.id}}</td>                    
                    <td>{{elem.group.name}}</td>
                    <td>{{elem.group.description}}</td>
                    <td>{{elem.get_success_url}}</td>
                    <td>Añadir user</td>
                </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>
    <div class="column"></div>    
</div>
{% endblock %}
