{% extends 'admin_group/base.dj.html' %}

{% block content_article%}
<div class="columns">
    <div class="column"></div>
    <div class="column">
        <h2 class="title is-2">Lista de Usuarios</h2>
        <table class="table is-borderer is-striped is-hoverable">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Username</td>
                    <td>Nombre</td>
                    <td>Apelido</td>
                    <td>Email</td>
                    <td>Teléfono</td>
                    <td>Grupos</td>
                    <td>Agregar</td>
                </tr>
            </thead>
            <tbody>
                {% for elem in object_list %}
                <tr class="table-models-item">
                    <td>{{elem.id}}</td>                    
                    <td>{{elem.user.username}}</td>
                    <td>{{elem.first_name}}</td>
                    <td>{{elem.last_name}}</td>
                    <td>{{elem.email}}</td>
                    <td>{{elem.phone}}</td>
                    <!-- mostrar un popup al mover el mouse -->
                    <td>{{elem.groups}}</td>
                    <td>Añadir grupo</td>
                </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>
    <div class="column"></div>    
</div>
{% endblock %}
