{% extends "groups_manager/bulma/group.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'admin_group:remove_member' member.id tipo group.id %}">Remove Member</a>
</li>
{% endblock breadcrumbs %}


{% block content_groups_manager %}

{% endif %}
