{% extends "proyecto/base.dj.html" %}
{% load static %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{{object.get_absolute_url}}">Detalle de Medicion</a>
</li>
{% endblock breadcrumbs %}

<!-- lista de proyectos creados -->
{% block content_proyecto %}
<ul>
    <li>Posicion: {{object.posicion}}</li>
    <li>Icono: <figure>
        <img src="{{object.icono.archivo.url}}" width="20px" height="20px">
    </figure>
    </li>
    <li>Rango: {{object.rango}}</li>
    <li>Tramos: {{object.tramos}}</li>
</ul>

<table>
    <thead>
        <th>Proyecto</th>
        <th>Parametro</th>        
    </thead>
    <tbody class="table is-fullwidth">
        {% for medicion in object.mediciones.all %}
        <td>{{medicion.proyecto}}</td>
        <td>{{medicion.parametro}}</td>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
