{% load widget_tweaks %}
{% load static %}


<form action="{{request.get_full_path|safe}}" enctype="multipart/form-data"
      method="post" id="member_form" class="django form">
    {% csrf_token %}
    {% for formset in inlines %}
    {{formset.as_table}}
    {% endfor %}
    <!-- icono -->
    <div  class="field" id="field_icono">
        <label class="label"
               for="{{form.icono.id_for_label}}">
            {{form.icono.label}}
        </label>
        <div class="control">
            {% render_field form.icono class+="select is-medium" %}
        </div>
        <span class="help is-invalid">{{ form.icono.errors }}</span>
    </div>
    <!-- posision : integer input -->
    <div  class="field" id="field_posicion">
        <label class="label"
               for="{{form.posicion.id_for_label}}">
            {{form.posicion.label}}
        </label>
        <div class="control">
        {% render_field form.posicion id="sl_pos" class+="slider is-fullwidth is-success has-output"  min="1" max="10" step="1" type="range" default="5" %}
        <output for="sl_pos">0</output>
        </div>
        <span class="help is-invalid">{{ form.posicion.errors }}</span>
    </div>
    <!-- rango:: array field, dos tramos: min y max -->
    <div  class="field" id="field_tramo_min">
        <label class="label"
               for="{{form.tramo.id_for_label}}">
            {{form.rango.label}} Mínimo
        </label>
        <div class="control">
            <input id="sl_t0" class="slider is-fullwidth is-warning has-output"  min="-100" max="100" step="1" type="range" >
            <output for="sl_t0">0</output>
        </div>
    </div>
    <div  class="field" id="field_tramo_max">
        <label class="label"
               for="{{form.tramo.id_for_label}}">
            {{form.rango.label}} Máximo
        </label>
        <div class="control">
            <input id="sl_t1" class="slider is-fullwidth is-warning has-output"  min="-100" max="100" step="1" type="range" >
            <output for="sl_t1">0</output>
        </div>
        <span class="help is-invalid">{{ form.tramo.errors }}</span>
    </div>
    {% render_field form.tramo id="array_tramos" class+="input is-hidden"  %}
    <!-- tramos -->
    <div  class="field" id="field_tramos">
        <label class="label"
               for="{{form.tramos.id_for_label}}">
            {{form.tramos.label}}
        </label>
        <div class="control">
            <input id="sl_t2" class="slider is-fullwidth is-info has-output"  min="1" max="50" step="1" type="range" >
            <output for="sl_t2">0</output>
        </div>
        <span class="help is-invalid">{{ form.tramos.errors }}</span>
        {% render_field  form.tramos id="array_tramos" class+="input is-hidden" %}

    </div>
    <!-- botones de acción -->
    <div class="buttons are-medium columns">
        <div class="column">
            <button type="submit"
                    class="button is-primary is-fullwidth">
                {{action}}</button>
        </div>
        <div class="column">
            <a class="button is-warning is-fullwidth" href="{% if group %}
                      "{% url 'proyecto:detail' object.slug_nombre %}"
               {% else %}
               {% url 'proyecto:list' %}{% endif %}">
                Cancelar</a>
        </div>
    </div>
</form>
<script>
 function findOutputForSlider(el) {
     var idVal = el.id;
     outputs = document.getElementsByTagName('output');
     for( var i = 0; i < outputs.length; i++ ) {
         if (outputs[i].htmlFor == idVal)
             return outputs[i];
     }
 }
 var sliders = document.querySelectorAll( 'input[type="range"].slider' );
 [].forEach.call( sliders, function ( slider ) {
     var output = findOutputForSlider( slider );
     if ( output ) {
         slider.addEventListener( 'input', function( event ) {
             output.value = event.target.value;
         } );
     }
 } );

 function event_tramos(){
     let array_tramos=document.getElementById("array_tramos");
     let pos1 = document.getElementById("sl_t0");
     let pos2 = document.getElementById("sl_t1");
     pos1.addEventListener('input', event=>{
         let valor1 = pos1.value;
         let valor2 = pos2.value;
         let array=[valor1,valor2];
         console.log(array.toString());
         array_tramos.value=array.toString();
     });
     pos2.addEventListener('input', event=>{
         let valor1 = pos1.value;
         let valor2 = pos2.value;
         let array=[valor1,valor2];
         console.log(array.toString());
         array_tramos.value=array.toString();
     });
 }

 event_tramos();
</script>
