{% extends "proyecto/base.dj.html" %}
{% load static %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'proyecto:list' %}">Lista de Proyectos</a>
</li>
{% endblock breadcrumbs %}

<!-- lista de proyectos creados -->
{% block content_proyecto %}
<div class="tile is-child">
    <h2 class="title is-2">
        <i class="fa fa-groups-manager-group"></i> Proyectos
    </h2>
</div>
<div class="tile is-child">
<table class="table is-hoverable is-fullwidth is-striped" id="clasification_list">
    <thead>
        <tr>
            <th>Icono</th>
            <th>Nombre</th>
            <th>Proyecto</th>
            <th>Rango</th>
            <th class="has-text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for medicion in object_list %}
        <tr class="">
            <td class="">
                <figure><img src="{{medicion.icono.archivo.url}}" width="20px"></figure>
            </td>
            <td class=""><a
                             href="{{medicion.get_absolute_url}}">{{medicion.medicion.parametro}}</a>
            </td>
            <td class=""><a
                             href="{{medicion.get_absolute_url}}">{{medicion.medicion.proyecto}}</a>
            </td>
            <td class="">
                {{medicion.rango.0}} a  {{medicion.rango.1}}  [{{medicion.medicion.parametro.unidad_medida}}]
            </td>
            <td class="">
                {% if medicion.clasificacion.all %}
                {% for clasificacion in medicion.clasificacion.all %}
                <a href="{% url 'medicion:detail_clasificacion' clasificacion.slug_tipo %}">
                    {{clasificacion}}</a>
                {% endfor %}
                {% endif %}
            </td>
            <td class="">{{medicion.descripcion}}</td>
            <td class="is-horizontal">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_project %}
                <a href="{% url 'medicion:update' medicion.slug_nombre %}" class="button is-warning is-small is-block">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_project %}
                <a href="{% url 'medicion:delete' medicion.id %}"
                   class="button is-danger is-small is-block">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
