{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

{% block title %}
{{sitio.nombre}}|Edición Exitosa de: {{object.titulo}}
{% endblock %}

{% block image_article%}
<figure id="img_pagina">
    <img src="{% static '{{object.imagen}}' %}">
</figure>
{% endblock image_article%}
<!-- Título de Página -->
{% block title_article %}
<h1>
    {{object.titulo}}
</h1>
{% endblock title_article %}
<!-- Contenido de Página -->
{% block content_article %}
<section id="resumen">
    <i>{{object.resumen}}</i>
</section>
{% endblock content_article %}
