{% extends "base.dj.html" %}

{% block content_article %}
<h2>Editar {{ name_of_object }}</h2>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
{% endblock %}
