<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'pagina/base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}
<!--  bloques a utilizar -->
<!-- Título en Ventana -->
{% block title %}
{% if object.titulo %}{{object.titulo}}{% else %}Página{% endif %}| {{SITE_NAME}}
{% endblock %}
<!-- Tag css id -->
{% block main_tag_id %}
{{object.clasificacion.slug_tipo}}
{% endblock main_tag_id %}

{% block breadcrumbs %}
{{block.super}}
<li>
    Página / <a href="object.get_absolute_url">{{object.titulo}}</a>
</li>
{% endblock breadcrumbs %}

<!-- Imagen de Pagina -->
{% block content_article%}
<div class="tile is-parent" id="content">
<div class="tile is-child box">
<div class="mdl-grid">
    <article class="pagina-articulo">
        <h3 class="title is-3 has-text-centered">
            {{object.titulo}}
        </h3>
        <figure id="img_pagina" class="has-text-centered">
            <img src="{{ MEDIA_URL }}{{object.imagen}}" alt="Imagen de página">
        </figure>
        <section id="resumen">
            <i>{{object.resumen|safe}}</i>
        </section>
        <section id="cuerpo">
            {{object.cuerpo|safe}}
        </section>
    </article>
</div>
</div>
</div>
{% endblock content_article %}


