<h1>Estimado {{nombre}}</h1>

<p><b>{{fecha}}</b></p>

<p>Con gusto de saludarle, le comunicamos que se ha inscrito exitosamente en el curso {{curso}}</p>

<p>Le esperamos en {{direccion}} el próximo {{dia}}</p>
