{% extends "groups_manager/bulma/group_type.html" %}


{% block content_groups_manager %}

<h2 class="title is-3">
    <i class="fa fa-groups-manager-group-type"></i> Group Types
</h2>

<table class="table is-fullwidth is-hoverarble is-stripped" id="group_type_list">
    <thead>
        <tr>
            <th>Label</th>
            <th class="has-text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for group_type in object_list %}
        <tr>
            <td>
                <a href="{% url 'groups_manager:group_type_detail' group_type.id %}">
                    {{ group_type.label }}
                </a>
            </td>
            <td class="has-text-right">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_grouptype %}
                <a href="{% url 'groups_manager:group_type_edit' group_type.id %}" class="btn btn-sm btn-default">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_grouptype %}
                <a href="{% url 'groups_manager:group_type_delete' group_type.id %}" class="btn btn-sm btn-default">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content_groups_manager %}
