{% extends "groups_manager/bulma/groups_manager.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'groups_manager:group_member_role_list' %}">Group Member Roles</a>
</li>
{% endblock breadcrumbs %}


{% block menu_groups_manager %}

{{ block.super }}
<p class="menu-label">Manage Group Members</p>
<ul class="menu-list">    <li>
        <a href="{% url 'groups_manager:group_member_role_list' %}">
            <i class="fa fa-list"></i> List roles
        </a>
    </li>
    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.add_groupmemberrole %}
    <li>
        <a href="{% url 'groups_manager:group_member_role_add' %}">
            <i class="fa fa-plus"></i> Add role
        </a>
    </li>
    {% endif %}
</ul>

{% endblock menu_groups_manager %}
