{% extends "groups_manager/bulma/group_member_role.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'groups_manager:group_member_role_detail' group_member_role.id %}">{{ group_member_role }}</a>
</li>
{% endblock breadcrumbs %}


{% block menu_groups_manager %}

{{ block.super }}
<p class="menu-label">Manage Group Members Roles</p>
<ul class="menu-list">    <li>
    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.can_change_groupmemberrole %}
    <li>
        <a href="{% url 'groups_manager:group_member_role_edit' group_member_role.id %}">
            <i class="fa fa-edit"></i>
            Edit group member role
        </a>    
    </li>
    {% endif %}
    
    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.can_delete_groupmemberrole %}
    <li>
        <a href="{% url 'groups_manager:group_member_role_delete' group_member_role.id %}">
            <i class="fa fa-times"></i>
            Delete group member role
        </a>
    </li>
    {% endif %}
</li>
</ul>

{% endblock menu_groups_manager %}

{% block content_groups_manager %}


<h2 class="title is-2">
    <i class="fa fa-groups-manager-group-member-role"></i> {{ group_member_role }}
</h2>

<div class="container">

    <div class="columns">
        <div class="column is-half">
            <h3 class="title is-3">Details</h3>
            <table class="table is-striped is-fullwidth is-hoverable">
                <tr>
                    <th>Label</th>
                    <td>{{ group_member_role.label }}</td>
                </tr>
                <tr>
                    <th>Codename</th>
                    <td>{{ group_member_role.codename }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>

{% endblock content_groups_manager %}
