{% extends "groups_manager/bulma/group.html" %}

{% load groups_manager_filters %}

{% block content_groups_manager %}
<h2 class="title is-2">
    <i class="fa fa-groups-manager-group"></i> Groups
</h2>

<table class="table is-hoverable is-fullwidth is-striped" id="group_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Parent</th>
            <th class="has-text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for group in object_list %}
        <tr>
            <td>
                <a href="{% url 'groups_manager:group_detail' group.id %}">
                    {% for i in group.level|int_range %}<span class="mptt-son"></span>{% endfor %}
                    {{ group.name }}
                </a>
            </td>
            <td>
                {% if group.parent %}
                <a href="{% url 'groups_manager:group_detail' group.parent.id %}">
                    {{ group.parent }}
                </a>
                {% endif %}
            </td>
            <td class="has-text-right">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_group %}
                <a href="{% url 'groups_manager:group_edit' group.id %}" class="btn btn-sm btn-default">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_group %}
                <a href="{% url 'groups_manager:group_delete' group.id %}" class="btn btn-sm btn-default">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content_groups_manager %}
