{% extends "base.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'groups_manager:groups_manager' %}">Groups Manager</a>
</li>
{% endblock breadcrumbs %}


{% block sidebar_left %}
<div class="tile is-parent is-3">
       <div class="tile is-child box">
       <p class="menu-label">Groups Manager</p>
       <ul class="menu-list">
           {% block menu_groups_manager %}
           <li>
               <a href="{% url 'groups_manager:groups_manager' %}">
                   <i class="fa fa-groups-manager-groups-manager"></i> Groups manager
               </a>
           </li>
           <li>
               <a href="{% url 'groups_manager:group_list' %}">
                   <i class="fa fa-groups-manager-group"></i> Groups
               </a>
           </li>
           <li>
               <a href="{% url 'groups_manager:member_list' %}">
                   <i class="fa fa-groups-manager-member"></i> Members
               </a>
           </li>
           {% endblock menu_groups_manager %}
       </ul>
    </div>
</div>
{% endblock sidebar_left %}
