{% extends "groups_manager/bulma/group.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    {% if group %}
    <a href="{% url 'groups_manager:group_edit' group.id %}">Edit</a>
    {% else %}
    <a href="{% url 'groups_manager:group_add' %}">Add</a>
    {% endif %}
</li>
{% endblock breadcrumbs %}


{% block content_groups_manager %}

<h2 class="title is-2">
    <i class="fa fa-groups-manager-group"></i>
    {% if group %}
    Edit "{{ group }}"
    {% else %}
    Create Group
    {% endif %}
</h2>


<form action="." method="post" id="group_form" class="django form">
    {% csrf_token %}

    {% include "groups_manager/bulma/group_form_template.html" %}

    <div class="columns">
        <div class="column">
            <button type="submit" class="button is-primary is-fullwidth">Submit</button>
        </div>
        <div class="column"> 
            <a class="button is-warning is-fullwidth"
               href={% if group %}"{% url 'groups_manager:group_detail' group.id %}"
               {% else %}
               "{% url 'groups_manager:group_list' %}"{% endif %}>Cancel</a>
        </div>
    </div>

</form>

{% endblock content_groups_manager %}
