{% extends "groups_manager/bulma/groups_manager.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'groups_manager:group_type_list' %}">Group Types</a>
</li>
{% endblock breadcrumbs %}


{% block menu_groups_manager %}

{{ block.super }}
<p class="menu-label">Group Type Actions</p>
<ul class="menu-list">
    <li>
        <a href="{% url 'groups_manager:group_type_list' %}">
            <i class="fa fa-list"></i> List group types
        </a>
    </li>
    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.add_grouptype %}
    <li>
        <a href="{% url 'groups_manager:group_type_add' %}">
            <i class="fa fa-plus"></i> Add group type
        </a>
    </li>
    {% endif %}
</ul>

{% endblock menu_groups_manager %}
