{% extends "groups_manager/bulma/groups_manager.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'groups_manager:member_list' %}">Members</a>
</li>
{% endblock breadcrumbs %}


{% block menu_groups_manager %}

{{ block.super }}
<p class="menu-label">Member Actions</p>
<ul class="menu-list">
    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.add_member %}
    <li>
        <a href="{% url 'groups_manager:member_add' %}">
            <i class="fa fa-plus"></i> Add member
        </a>
    </li>
    {% endif %}
</ul>

{% endblock menu_groups_manager %}
