{% extends "groups_manager/bulma/member.html" %}

{% block content_groups_manager %}
<h2 class="title is-2">
    <i class="fa fa-groups-manager-member"></i> Members
</h2>

<table class="table is-striped is-hoverable is-narrow is-fullwidth" id="member_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th class="has-text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for member in object_list %}
        <tr>
            <td>
                <a href="{% url 'groups_manager:member_detail' member.id %}">
                    {{ member.last_name }} {{ member.first_name }}
                </a>
            </td>
            <td>{{ member.email }}</td>
            <td>{{ member.username }}</td>
            <td class="has-text-right">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_member %}
                <a href="{% url 'groups_manager:member_edit' member.id %}"
    class="button is-link">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_member %}
                <a href="{% url 'groups_manager:member_delete' member.id %}"
    class="button is-link">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content_groups_manager %}
