{% extends "groups_manager/bulma/member.html" %}

{% block breadcrumbs %}
{{ block.super }}
<li>
    <a href="{% url 'groups_manager:member_detail' member.id %}">{{ member }}</a>
</li>
{% endblock breadcrumbs %}
{% block menu_groups_manager %}
{{ block.super }}
<p class="menu-label">Manage Member</p>
<ul class="menu-list">
    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.can_change_member %}
    <li>
        <a href="{% url 'groups_manager:member_edit' member.id %}">
            <i class="fa fa-edit"></i>
            Edit member
        </a>
    </li>
    {% endif %}

    <!--PERMISSIONS_HERE-->
    {% if perms.groups_manager.can_delete_member %}
    <li>
        <a href="{% url 'groups_manager:member_delete' member.id %}">
            <i class="fa fa-times"></i>
            Delete member
        </a>
    </li>
    {% endif %}
</ul>

{% endblock menu_groups_manager %}


{% block content_groups_manager %}

<h2 class="title is-2">
    <i class="fa fa-groups-manager-member"></i> {{ member }}
</h2>

<div class="container-fluid">

    <div class="columns">
        <div class="column is-half">
            <h3 class="title is-3">Details</h3>
            <table class="table is-fullwidth is-hoverable">
                <tr>
                    <th>First name</th>
                    <td>{{ member.first_name }}</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>{{ member.last_name }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ member.email }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ member.username }}</td>
                </tr>
            </table>
        </div>
        <div class="column is-half">
            <h3 class="title is-3">Groups</h3>
            {% with member_memberships=member.group_membership.all %}
            {% if member_memberships %}
            <table class="table is-fullwidth is-hoverable">
                <tr>
                    <td>Group</td>
                    <td>Roles</td>
                </tr>
                {% for group_membership in member_memberships %}
                <tr>
                    <td>
                        <a href="{% url 'groups_manager:group_detail' group_membership.group.id %}">
                            {{ group_membership.group.name }}
                        </a>
                    </td>
                    <td>
                        {% for role in group_membership.roles.all %}
                        {{ role }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div class="bs-callout bs-callout-info">
                <p>This member is not related to any group.</p>
            </div>
            {% endif %}

            <!--PERMISSIONS_HERE-->
            {% if perms.groups_manager.can_add_groupmember %}
            <p>
                <a href="{% url 'groups_manager:group_member_add_group' member.id %}">
                    <i class="fa fa-plus"></i>
                    Add member to group
                </a>
            </p>
            {% endif %}

            {% endwith %}
        </div>
    </div>

    {% endblock content_groups_manager %}
