{% load static %}

{% for proyecto in inscripciones_activas %}
<div class="section">
    <div class="media box">
        <div class="media-left">
            <img src="{{proyecto.afiche.url}}" class="afiche">                            
        </div>
        <div class="media-content">
            <div class="content">
                <h4 class="title is-4"> {{proyecto.curso.nombre}}</h4>
                <div class="generation-data media">
                    <div class="media-content">
                    <img src="{{proyecto.icono_totem.url}}" class="icono">
                    <span class="tag is-info">{{proyecto}}</span>
                    </div>
                    <div class="media-right">
                            {% include 'components/compartir.dj.html' %}
                    </div>

                </div>
                <div class="content mt-5">
                        {{proyecto.curso.resumen|safe|truncatewords:20}}
                </div>
                <div class="">
        <a href="{% url "proyecto:course_generation" proyecto.curso.slug_nombre proyecto.slug_generacion %}"
                       title="{{proyecto.curso.nombre}}: {{proyecto.generacion}}">
                        Ver el curso</a></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}                

<style>
 .afiche{
     width:120px;
 }
 .generation-data{
     display:inline-block;
     height:100%;
 }
 .icono{
     width:20px;
     vertical-align: middle;
 }
</style>
