

{{ form.as_p }}

<input type="button" method="GET" id="verificar" value="Verificar" />

<div id="map" class="map"></div>

<div class="geocode">
    <p>Latitude: <div id="lat" >{{ lat | safe }}</div></p>
    <p>Longitude:<div id="lon" >{{ lon | safe }}</div> </p>
</div>