<article class="section tile is-parent is-vertical">
    <div class="tile is-child box">
        <section id="{{map_id}}">
        </section>
    </div>
    <div class="tile is-child box">
        <div class="content">
        <form class="form" role="form" method="post" id="form-lugar">
            <!-- Lugar -->
            <div class="card tarjeta">
                <header class="card-header">
                    <p class="card-header-title">
                        Descripción de Lugar
                    </p>
                    <a href="#collapsible-lugar"
                       data-action="collapse"
                       class="card-header-icon is-hidden-fullscreen"
                       aria-label="more options">
			                  <span class="icon">
				                    <i class="fas fa-angle-down" aria-hidden="true"></i>
			                  </span>
                    </a>
                </header>
                <div id="collapsible-lugar" class="is-collapsible is-active">
                    <div class="tarjeta-content">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Lugar</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-large is-expanded">
                                        <input class="input is-medium" placeholder="lugar" name="lugar">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- País -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">País</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-large is-expanded">
                                        <input class="input is-medium" placeholder="pais" name="pais">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ciudad -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label is-expanded">Ciudad</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control is-large is-expanded">
                                        <input class="input is-medium" placeholder="ciudad" name="ciudad">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- close collapsable :: -->
                </div>
            </div>
            <div class="card tarjeta">
                <header class="card-header">
                    <p class="card-header-title">
                        Posición Geográfica
                    </p>
                    <a href="#collapsible-posicion"
                       data-action="collapse"
                       class="card-header-icon is-hidden-fullscreen"
                       aria-label="more options">
			                  <span class="icon">
				                    <i class="fas fa-angle-down" aria-hidden="true"></i>
			                  </span>
                    </a>
                </header>
                <div id="collapsible-posicion" class="is-collapsible is-active">
                    <!-- geolocalizacion -->
                    <div class="tarjeta-content">
                        <div class="field is-horizontal">
                            <label class="label is-expanded field-label">Localizacion WGS84</label>
                            <div class="field-body">
                                <div class="control is-large is-expanded">
                                    <input class="input is-medium" placeholder="x" name="x">
                                </div>
                                <div class="control is-large is-expanded">
                                    <input class="input is-medium" placeholder="y" name="y">
                                </div>
                            </div>
                        </div>
                        <!-- Lat/Lon -->
                        <div class="field is-horizontal">
                            <label class="label is-expanded field-label">Localizacion Lat/Lon</label>
                            <div class="field-body">
                                <div class="control is-large is-expanded">
                                    <input class="input is-medium" placeholder="latitud" name="latitud">
                                </div>
                                <div class="control is-large is-expanded">
                                    <input class="input is-medium" placeholder="longitud" name="longitud">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
</article>
