{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {% include 'locale.html' %}
    <input type="submit" value="Crear" />
</form>
{% endblock %}

 {% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/locale.min.css' %}">
  <link rel="stylesheet" href="{%  static 'js/chosen/chosen.css' %}">
{% endblock %}

{% block footer_javascript %}
    <script src="{% static 'js/ol3/ol.js' %}" type="text/javascript"></script>


    <script src="{% static 'js/initmap.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/chosen/chosen.jquery.js' %}" type="text/javascript"></script>
    {{ form.media }}
      <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
{% endblock %}

