{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
Vista
{% endblock %}

 {% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/locale.min.css' %}">
  <link rel="stylesheet" href="{%  static 'js/chosen/chosen.css' %}">
{% endblock %}

{% block footer_javascript %}
    <script src="{% static 'js/ol3/ol.js' %}" type="text/javascript"></script>


    <script src="{% static 'js/initmap.js' %}" type="text/javascript"></script>

{% endblock %}
