{% extends "proyecto/base.dj.html" %}

{% block content_proyecto %}
<!-- ver clasificacion y proyectos relacionados -->
<h1 class="title is-1">
    {{object.tipo}}
</h1>
<section class="content">
    {{object.descripcion|safe}}
</section>
{% endblock %}


