{% load widget_tweaks %}
{% load static %}


<form action="{{request.get_full_path|safe}}" enctype="multipart/form-data"
      method="post" id="member_form" class="django form">
    {% csrf_token %}
    <!-- nombre : input -->
    <div  class="field" id="field_tipo">
        <label class="label"
               for="{{form.tipo.id_for_label}}">
            {{form.tipo.label}}
        </label>
        <div class="control">
             {% render_field form.tipo class+="input is-medium" %}
        </div>
        <span class="help is-invalid">{{ form.tipo.errors }}</span>
    </div>
    <!-- descripcion -->
    <div  class="field"  id="field_descripcion">
        <label class="label"
               for="{{form.descripcion.id_for_label}}">
            {{form.descripcion.label}}</label>
        <div class="control">
            {% render_field form.descripcion class+="textarea" type="textarea" %}
            <span class="help is-invalid">{{ form.descripcion.errors }}</span>
        </div>
    </div>
    <!-- botones de acción -->
    <div class="buttons are-medium columns">
        <div class="column">
            <button type="submit"
                    class="button is-primary is-fullwidth">
                {{action}}</button>
        </div>
        <div class="column">
            <a class="button is-warning is-fullwidth" href="{% if group %}
                      "{% url 'proyecto:detail_clasificacion' object.id %}"
               {% else %}
               {% url 'proyecto:list_clasificacion' %}{% endif %}">
                Cancelar</a>
        </div>
    </div>
</form>
