{% extends "proyecto/base.dj.html" %}
<!-- crear nueva clasificacion -->
{% block content_proyecto %}
<div class="tile is-child">
    <h2 class="title is-2">
        <i class="fa fa-groups-manager-group"></i> Clasificaciones
    </h2>
</div>
<div class="tile is-child">
<table class="table is-hoverable is-fullwidth is-striped" id="clasification_list">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Descripción</th>
            <th class="has-text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for clasification in object_list %}
        <tr class="">
            <td class=""><a href="{% url 'proyecto:detail_clasificacion' clasification.slug_tipo %}">
                {{clasification.tipo}}</a></td>
            <td class="">{{clasification.descripcion}}</td>
            <td class="is-horizontal">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_project %}
                <a href="{% url 'proyecto:update_clasificacion' clasification.id %}" class="button is-warning is-small is-block">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_project %}
                <a href="{% url 'proyecto:delete_clasificacion' clasification.id %}"
                   class="button is-danger is-small is-block">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
