{% extends "accounts/base_login.dj.html" %}


{% load static %}
{% block title %}¡Validación de nuevo usuario enviada!{% endblock title %}
{% block content_accounts %}
<section id="new-password-ok">
    <h1 class="title">Activación de Usuario Enviada</h1>
    <p id="mensaje_status">Enviando email de activación</p>
</section>
{% endblock content_accounts %}




{% block footer_javascript %}
<script>
 function getCookie(name) {
     var cookieValue = null;
     if (document.cookie && document.cookie !== '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
             var cookie = cookies[i].trim();
             // Does this cookie string begin with the name we want?
             if (cookie.substring(0, name.length + 1) === (name + '=')) {
                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                 break;
             }
         }
     }
     return cookieValue;
 }
 var csrftoken = getCookie('csrftoken');
 
 const task_code="{{task_code}}";
 const  url="/accounts/ajax/status_task/task="+task_code;

 /* consultar cada .5 seg*/
 const periodo = 500;
 const id=setInterval(get_status_signup, periodo);

 function stop_ajax(){
     clearInterval(id)
 };
 
 function get_status_signup(){
     let xhr = new XMLHttpRequest();
     xhr.open('GET', url, true);
     xhr.onload = function status_reporte(event){
         let data_txt = xhr.responseText;
         let data_json = JSON.parse(data_txt);
	       let success = data_json["success"];

	       if (success) {
	           stop_ajax();
	       };

         if (xhr.readyState==4){
             if (xhr.status==400 && success){
		             /* Poner algo en html */
		             let mensaje =  document.getElementById("mensaje_status");
		             // cambio de mensaje
                 if (data_json["status"]===true){
                     let MSG = "Revisa tu correo electrónico, te envíamos un e-mail para que valides el registro.";
                     mensaje.innerHTML = MSG;}
                 else{
                     mensaje.innerHTML = "No se pudo enviar email de activación, vuelve a intentarlo";
                    
                 }

             }
             else{
                 console.log("Error al recibir", xhr.status)

             }
         }

     };
     
     var csrftoken = getCookie('csrftoken');
     xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
     xhr.setRequestHeader("X-CSRFToken", csrftoken);
     xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
     xhr.send();
 }
 
</script>
{% endblock footer_javascript %}
