{% extends "accounts/base_login.dj.html" %}

{% block content_accounts %}
<div class="tile is-child box">
<h2 class="title is-2">Activación inválida</h2>
<p>Seguramente el usuario ya ha sido validado</p>
</div>
{% endblock %}
