{% extends "accounts/base_login.dj.html" %}
{% load widget_tweaks %}

{% block breadcrumbs %}
{{block.super}}
<li class="is-active">
    <a href="{% url 'accounts:login' %}"
       aria-current="page">Ingresar</a>
</li>
{% endblock breadcrumbs %}


{% block content_accounts %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Ya están logueado!</p>
{% else %}
<p>Por favor, logueate para ver esta página.</p>
{% endif %}
{% endif %}
<div class="tile is-parent">
    <div class="tile is-child is-3"></div>
    <div class="tile is-child is-6 box">
        <h3 class="title is-3 has-text-centered">Ingresar a la web</h3>
<form method="post" action="{% url 'accounts:login' %}" role="form" class="form">
    {% csrf_token %}
        <div class="field">
                <label class="label">
                    {{ form.username.label_tag }}
                </label>
                <div class="field is-expanded">
                <div class="control">
                    {% render_field form.username class+="input" %}
                </div>
            </div>
        </div>
        <div class="field">
                <label class="label">
                    {{ form.password.label_tag }}</label>
                <div class="field is-expanded">
                    <div class="contro">
                        {% render_field form.password class+="input" %}
                    </div>
            </div>
        </div>
    <div class="section">
    <div class="control">
        <button class="button is-link is-fullwidth"
                type="submit">Ingresar</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}"></div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'accounts:password_reset' %}">¿Olvidaste tu contraseña?</a></p>
    </div>
    <div class="column"></div>
</div>

{% endblock %}
