<div class="modal" id="modal_terms">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Términos y Condiciones</p>
      <button type="button" class="delete" aria-label="close" onclick="modal_close('modal_terms')"></button>
    </header>
    <section class="modal-card-body">
        <div class="section">
        <p>Esta es una plataforma dedicada al <b>Aprendizaje en Comunidad</b>.
  Los siguientes son los términos y condiciones para los cuales aceptas
            registrarte y participar.</p>
        </div>
        <div class="section">
            <h4 class="title is-4">Sobre tu información privada</h4>
        <p>La información que queda registrada en el sitio no será utilizada por
        terceros bajo ningún motivo. No se entregará a empresas, corporaciones o
        instituciones. Mas si podrá ser utilizada para mejorar los servicios del
            mismo sitio.</p>
        </div>
        <div class="section">
            <h4 class="title is-4">Sobre el comportamiento</h4>
            <p>Al aceptar participar de esta plaforma, aceptas respetar a cada uno de los
            participantes, más allá de sus diferencias de origen, creencia o
                pensamiento.</p>

            <p>Los contenidos, conversaciones, ideas compartidas deben girar en
                aportar en el aprendizaje en comunidad, el apoyo mutuo,
                fortalecer los lazos de compañerismo</p>

        <p>No se acepta la promoción del <b>fascismo</b> ni la propaganda
            política partidaria.</p>

        <p>No se acepta la promoción de iniciativas comerciales fraudulentas,
            esquemas piramidales, criptomonedas, coaching, apuestas,
            emprendimientos que exploten trabajadores, etc.</p>

        <p>Si la comunidad considera que infringes las normas de respeto, apoyo
            mutuo y solidaridad, tu cuenta se puede 'suspender' impidiendote
            participar de manera abierta. Sin embargo si podrás comunicarte con quienes
            gestionen los permisos y autorizaciones. En caso extremo la  cuenta
            será 'eliminada'.</p>
        </div>
        <div class="section">
            <h4 class="title is-4">El conocimiento compartido y creado.</h4>
            <p>Todo lo que se imparta, comparta y cree en colectivo es parte de la
        comunidad y será parte de la comunidad. Lo que le otorga el derecho a ser
        usado, mejorado y compartido. Pero no comerciar con ello exceptuando
            aquellos casos que cuenten con la autorización explícita de la comunidad.</p>
        <p>Los contenidos externos a la plataforma, productos culturales, artículos se enmarcan
            bajo la enseña del 'compartir de manera privada.'</p>
        </div>
        
    </section>
    <footer class="modal-card-foot">
        <button type="button"  class="button is-fullwidth" onclick="modal_close('modal_terms')">Comprendo</button>
    </footer>
  </div>
</div>
