{% extends "accounts/base_login.dj.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}Crear nueva contraseña|{{SITE_NAME}}{% endblock title %}

{% block breadcrumbs %}
{{block.super}}
<li class="is-active">
    <a href="{% url 'admin:index' %}">Inicio</a>
    &rsaquo; Password reset
</li>
{% endblock breadcrumbs %}


{% block content_accounts %}
<div class="tile is-parent">
    <div class="tile is-child is-3"></div>
    <div class="tile is-child is-6 box">

<p>Tu password ha sido cambiada correctamente</p>
<p><a href="{{ login_url }}">Ingresar</a></p>
    </div></div>
{% endblock %}
