{% extends "accounts/base_login.dj.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Crear nueva contraseña|{{SITE_NAME}}{% endblock title %}

{% block breadcrumbs %}
{{block.super}}
<li class="is-active">
    <a href="{% url 'accounts:password_reset' %}"
       aria-current="page">Reset Password</a>
</li>
{% endblock breadcrumbs %}

{% load i18n %}

{% block content_accounts %}
<div class="tile is-parent">
    <div class="tile is-child is-3"></div>
    <div class="tile is-child is-6 box">
        {% if validlink %}

        <p>Por favor, ingresa dos veces la misma contraseña para cambiar</p>

        <form method="post" class="form">
            {% csrf_token %}
            <fieldset class="module aligned">
                <input style="display: none;" autocomplete="username" value="{{ form.user.username }}">
                <div class="field">
                    {{ form.new_password1.errors }}
                    <label class="label" for="id_new_password1">Nueva
                        contraseña:</label>
                    <div class="control">
                        {% render_field form.new_password1 class+="input" %}
                    </div>
                </div>
                <div class="field">
                    {{ form.new_password2.errors }}
                    <label class="label" for="id_new_password2">Confirma nueva
                        contraseña:</label>
                    <div class="control">
                        {% render_field form.new_password2 class+="input" %}
                    </div>
                </div>
                <input class="button is-link is-fullwidth" type="submit" value="Cambiar la Contraseña">
            </fieldset>
        </form>

        {% else %}

        <p>¡El enlace de cambio de password es inválido, vuelve a solicitarlo!</p>

        {% endif %}
    </div>
</div>
{% endblock content_accounts %}
