{% extends "accounts/base_login.dj.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Crear nueva contraseña|{{SITE_NAME}}{% endblock title %}

{% block breadcrumbs %}
{{block.super}}
<li class="is-active">
    <a href="{% url 'accounts:password_reset' %}"
       aria-current="page">Reset Password</a>
</li>
{% endblock breadcrumbs %}


{% block content_accounts %}
<div class="tile is-parent">
    <div class="tile is-child is-3"></div>
    <div class="tile is-child is-6 box">
    <h1 class="title">Crear nueva contraseña</h1>
    <h2 class="title is-4">Entrega tu correo electrónico ligado a tu usuario</h2>
    <form method="post"
          action="{% url 'accounts:password_reset' %}"
          role="form" class="form">
        {% csrf_token %}
        <div class="field field-email">
            <label class="label">{{ form.email.label_tag }}</label>
            <div class="control">
                {% render_field form.email class+="input" %}
            </div>
            <span class="help is-invalid">{{ form.email.errors }}</span>

        </div>
        <div class="control">
            <button class="button is-link is-fullwidth"
                    type="submit">Ingresar</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    </div>
</div>
{% endblock content_accounts %}
