{% extends "accounts/base_login.dj.html" %}

{% block content_accounts %}
<div class="columns">
        <div class="column"></div>
    <div class="column is-half">
        <h1 class="title is-1">Cambio de Password</h1>
        <section>
            <p>Debe poner la password original y luego dos veces la nueva password</p>
        </section>
        <section id="cambio-password">
            <form method="post"
                  action="{% url 'accounts:password_change' %}"
                  role="form">
                {% csrf_token %}
                <table class="section">
                    <tr class="columns">
                        <td class="column">{{ form.old_password.label_tag }}</td>
                        <td class="column">{{ form.old_password }}</td>
                    </tr>
                    <tr class="columns">
                        <td class="column">{{ form.new_password1.label_tag }}</td>
                        <td class="column">{{ form.new_password1 }}</td>
                    </tr>
                    <tr class="columns">
                        <td class="column">{{ form.new_password2.label_tag }}</td>
                        <td class="column">{{ form.new_password2 }}</td>
                    </tr>
                </table>
                <div class="section">
                <div class="control">
                    <button class="button is-link is-fullwidth"
                            type="submit">Cambiar password</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                </div>
            </form>
        </section>
    </div>
    <div class="column"></div>
</div>
{% endblock content_accounts %}
