<section class="mdl-mini-footer__left-section">
    <a href="/contacto">Contáctanos</a>
</section>

<section class="mdl-mini-footer__middle-section">
    <p>Realizado con:</p>
    <ol>
        <li><a href="https://www.djangoproject.com/">Django
            Framework</a></li>
        <li>el sistema operativo <a
                                     href="https://www.debian.org/index.es.html">GnuLinux
            Debian</a></li>
        <li><a href="https://bulma.io">Bulma CSS, Framework</a></li>
    </ol>
</section>

<section class="mdl-mini-footer__right-section">
    <p>Este proyecto es <a href="https://endefensadelsl.org/manifiesto_telecomunista.html"> CopyFarleft</a> + GPLv3</p>
    <a href="https://gitlab.com/pineiden/web-curso-programacion">Descarga el Código
    Fuente de esta Web</a>
</section>
