<nav class="mdl-navigation drawer">
	  <a  class="mdl-navigation__link" title="Inicio" href="/">Inicio</a>
	  <a  class="mdl-navigation__link" title="El Curso" href="/pagina/el-curso">El Curso</a>
	  <a  class="mdl-navigation__link" title="Nosotros" href="/pagina/nosotros">Nosotros</a>
	  <a  class="mdl-navigation__link" title="Inscribirse" href="/inscripcion/{{SLUG_TITULO}}/{{SLUG_GENERACION}}">Inscribirse</a>
	  <a  class="mdl-navigation__link" title="Contacto" href="#">Contacto</a>
</nav>
