{% load static %}
<nav class="navbar is-fixed-top is-purpura" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home:index' %}">
            <img src="{% static 'img/logo.jpg' %}"
                 style="width:40px;height:auto;"/>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu"
           aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true">
            </span>
            <span aria-hidden="true">
            </span>
            <span aria-hidden="true">
            </span>
        </a>
    </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
            {% for item in menu_nav %}
            {{item.html|safe}}
            {% endfor %}
            </div>
            <div class="navbar-end">
            {% if not user.is_authenticated %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-cielo"  href="{% url 'accounts:login' %}">
                            <strong>Ingresar</strong>
                        </a>
                        <a class="button is-turquesa"  href="{% url 'accounts:signup' %}">
                            <strong>Registrarse</strong>
                        </a>
                    </div>
                </div>
            {% else %}
            <div class="buttons">
                {% if user.is_superuser %}
                <a class="button is-link"  href="{% url 'admin:index' %}">
                    <strong>Administrar</strong>
                </a>
                {% endif %}
                <a class="button is-primary"  href="{% url 'accounts:profile_user' username=user.username %}">
                    <strong>Perfil</strong>
                </a>
                <a class="button is-danger"  href="{% url 'accounts:logout' %}">
                    <strong>Salir</strong>
                </a>

            </div>
            {% endif %}
            </div>
        </div>
 </nav>
