<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}
{% load widget_tweaks %}

{% block title %}
Contacto | {{SITE_NAME}}
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'contacto:formulario'  %}">Contacto</a>
</li>
{% endblock breadcrumbs %}


{% block content_article %}
<div class="columns">
    <article class="contacto-form column">
        <h1 class="title">Contactar a {{SITE_NAME}}</h1>
        <div class="mdl-card__supporting-text">
            <form action="{% url 'contacto:formulario' %}" method="POST">
                {% csrf_token %}
                <!-- nombre -->
                <div class="field field_contacto">
                    <label class="label"
                           for="{{form.nombre.id_for_label}}">
                        {{form.nombre.label}}</label>
                    <div class="control">
                        {% render_field form.nombre class+="input" %}</div>

                    <span class="help is-invalid">{{ form.nombre.errors }}</span>
                </div>
                <!-- telefono -->
                <div class="field_contacto">
                    <label class="label"
                           for="{{form.email.id_for_label}}">
                        {{form.telefono.label}}</label>
                    <div class="control">
                        {% render_field form.telefono class+="input" %}
                    </div>
                    <span class="help is-invalid">{{ form.telefono.errors }}</span>
                </div>
                <!-- email -->
                <div class="field_contacto">
                    <label class="label"
                           for="{{form.email.id_for_label}}">
                        {{form.email.label}}</label>
                    <div class="control">
                        {% render_field form.email class+="input" %}</div>
                    <span class="help is-invalid">{{ form.email.errors }}</span>
                </div>
                <!-- tema -->
                <div class="field_contacto">
                    <label class="label"
                           for="{{form.tema.id_for_label}}">
                        {{form.tema.label}}</label>
                    <div class="control">
                        {% render_field form.tema class+="input" %}</div>
                    <span class="mdl-textfield__error">{{ form.tema.errors }}</span>
                </div>
                <!-- cuerpo -->
                <div class="field_contacto">
                    <label class="label"
                           for="{{form.cuerpo.id_for_label}}">
                        {{form.cuerpo.label}}</label>
                    <div class="control">
                        {% render_field form.cuerpo class+="textarea" %}</div>
                    <span class="help is-invalid">{{ form.cuerpo.errors }}</span>
                </div>
                {% include 'components/captcha.dj.html' with captcha=form.captcha %}

                <!-- send button -->

                <div class="control">
                    <button id="sendButton" class="button is-link is-fullwidth" type="submit">Enviar
                        mensaje</button>
                </div>

            </form></div>
    </article>

    <article class="column">
        <h2 class="title is-2">Otras formas de contactar
        </h2>
        <figure id="im_contact">
            <img src="{% static './home/img/icono-contacto.svg' %}">
        </figure>
        <p><i>La forma más directa de contactarnos es mediante
            nuestro correo electrónico</i></p>

        <b>{{CONTACT_EMAIL}}</b>

        <p>
            <a href="mailto:{{CONTACT_EMAIL}}">Escribenos</a> 
        </p>
    </article>

</div>


{% endblock content_article %}

{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'contacto/css/contacto.css' %}">
{% endblock %}


<!-- Añadir JS extra en footer -->
{% block footer_javascript %}

<script src="{% static 'js/captcha.js' %}">
</script>

{% endblock %}
