{% extends "proyecto/base.dj.html" %}
{% load static %}
{% load martortags %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{{object.get_absolute_url}}">Detalle de Proyecto</a>
</li>
{% endblock breadcrumbs %}

<!-- lista de proyectos creados -->
{% block content_proyecto %}
<h1 class="title is-1">{{object.nombre}}</h1>
<section>
    <b>Clasificación</b>
    <ul>
    {% for tipo in object.clasificacion.all %}
    <li>{{tipo}}</li>
    {% endfor %}
    </ul>
</section>
<section>
    <b>Descripción</b>
    <div>{{object.descripcion|safe_markdown }}</div>
</section>
<section>
    <p>Creada {{object.fecha_creacion}} por {{object.usuario}}</p>
    <p>Inicia {{object.fecha_inicio}}</p>
    {% if object.indefinido %}
    <p>Finaliza {{object.fecha_final}}</p>
    {% else %}
    <p>Final indefinido</p>
    {%endif%}
</section>
{% endblock %}
