{% load widget_tweaks %}
{% load martortags %}
{% load static %}


{% block head_css %}
{{super}}
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css"
        media="all" rel="stylesheet" />
  <!-- trae algun error de diag -->
  <!-- <link href="{% static 'martor/css/martor.bootstrap.min.css' %}"
  type="text/css" media="all" rel="stylesheet" /> -->

{% endblock %}

<!-- Bloque para añadir js extra en header-->
{% block head_javascript %}
{{super}}
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
<script defer src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}

<p>Errores</p>
{% for field, errors in form.errors.items %}
{% for error in errors %}
{{field}}-{{error}}
{% endfor %}
{% endfor %}

<form action="{{request.get_full_path|safe}}" enctype="multipart/form-data"
      method="post" id="member_form" class="django form">
    {% csrf_token %}
    <!-- nombre : input -->
    <div  class="field" id="field_nombre">
        <label class="label"
               for="{{form.nombre.id_for_label}}">
            {{form.nombre.label}}
        </label>
        <div class="control">
                {% render_field form.nombre class+="input is-medium" %}
        </div>
        <span class="help is-invalid">{{ form.nombre.errors }}</span>
    </div>
    <!-- clasificacion -->
    <div class="column is-one-third">
        <div  class="field" id="field_clasificacion">
                <label class="label"
                       for="{{form.clasificacion.id_for_label}}">
                    {{form.clasificacion.label}}</label>
                <div class="control is-expanded">
                    <div class="select is-multiple">
                        {% render_field form.clasificacion class+="multiple" size=4 %}
                    </div>
                </div>
                <span class="help is-invalid">{{ form.clasificacion.errors }}</span>
        </div>
    </div>
    <!-- descripcion -->
    <div  class="field"  id="field_descripcion">
        <label class="label"
               for="{{form.descripcion.id_for_label}}">
            {{form.descripcion.label}}</label>
        <div class="control">
            {% render_field form.descripcion class+="textarea" type="textarea" %}
            <span class="help is-invalid">{{ form.descripcion.errors }}</span>
        </div>
    </div>
    <!-- fechas -->
    <div id="grupo_fechas">
    <div class="field">
     <label class="checkbox">
         <input type="checkbox"
                name="{{form.indefinido.name}}"
                value="{{form.indefinido.choice_value}}">
       Indefinido
     </label>
    </div>
    <div class="field">
        <div class="tile">
            <div class="tile is-child is-6 box has-text-centered">
                <h4 class="title is-4">Fecha Inicio</h4>
                <div class="dates-realizacion">
                    <input id="fecha_inicio" type="date" data-display-mode="inline"
                           data-is-range="true" data-close-on-select="false"
                    name="fecha_inicio">
                </div>
            </div>
            <div class="tile is-child is-6 box has-text-centered">
                <h4 class="title is-4">Fecha Final</h4>
                <div class="dates-realizacion">
                    <input id="fecha_final" type="date" data-display-mode="inline"
                           data-is-range="true" data-close-on-select="false"
                    name="fecha_final">
                </div>
            </div>
        </div>
    </div>
 </div>
    <!-- botones de acción -->
    <div class="buttons are-medium columns">
        <div class="column">
            <button type="submit"
                    class="button is-primary is-fullwidth">
                {{action}}</button>
        </div>
        <div class="column">
            <a class="button is-warning is-fullwidth" href="{% if group %}
                      "{% url 'proyecto:detail' object.slug_nombre %}"
               {% else %}
               {% url 'proyecto:list' %}{% endif %}">
                Cancelar</a>
        </div>
    </div>
</form>


{% block footer_javascript %}
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('.martor-preview pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
  </script>
{% endblock %}
