{% extends "proyecto/base.dj.html" %}
{% load static %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'proyecto:list' %}">Lista de Proyectos</a>
</li>
{% endblock breadcrumbs %}

<!-- lista de proyectos creados -->
{% block content_proyecto %}
<div class="tile is-child">
    <h2 class="title is-2">
        <i class="fa fa-groups-manager-group"></i> Proyectos
    </h2>
</div>
<div class="tile is-child">
<table class="table is-hoverable is-fullwidth is-striped" id="clasification_list">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th class="has-text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proyecto in object_list %}
        <tr class="">
            <td class=""><a href="{{proyecto.get_absolute_url}}">{{proyecto.nombre}}</a></td>
            <td class="">
                {% if proyecto.clasificacion.all %}
                {% for clasificacion in proyecto.clasificacion.all %}
                <a href="{% url 'proyecto:detail_clasificacion' clasificacion.slug_tipo %}">
                    {{clasificacion}}</a>
                {% endfor %}
                {% endif %}
            </td>
            <td class="">{{proyecto.descripcion}}</td>
            <td class="is-horizontal">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_project %}
                <a href="{% url 'proyecto:update' proyecto.slug_nombre %}" class="button is-warning is-small is-block">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_project %}
                <a href="{% url 'proyecto:delete' proyecto.id %}"
                   class="button is-danger is-small is-block">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
