<!-- Extender base -->
{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

<!-- css para detail protocol -->
{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'accounts/css/estilos.css' %}">
{% endblock %}

{% block title %}
Perfil de Usuario|{{SITE_NAME}}
{% endblock %}


{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'accounts:profile_user' username=user.username %}">Perfil</a>
</li>
{% endblock breadcrumbs %}

{% block sidebar_left %}

{% endblock sidebar_left %}


{% block content_article %}
<div class="tile is-ancestor">
    <div class="tile is-parent is-3">
        <!--menú de acceso a las opciones de reporte general -->
        <div class="tile is-child box">
            <div class="sticky">
                {% include 'accounts/profile_menu.dj.html' %}
            </div>
        </div>
    </div>

    <article
        id="app_accounts"
        class="tile is-parent">
        <div class="tile is-child">
            <!--pantalla central con iconos -->
            {% block content_profile %}
            {% endblock content_profile %}
        </div>
    </article>
</div>
            <!--pantalla central con iconos -->
{% endblock content_article %}
