<div class="card">
    <div class="card-image">
        
    </div>
    <div class="card-content">
        <div class="content">
            <a
                class="login-button
                       button
                       is-rounded
                       is-success
                       is-medium
                       is-fullwidth"
                href="{% url 'accounts:login' %}"
                 alt="login">
                Ingresa</a>
            <a class="login-button
                      button
                      is-rounded
                      is-info
                      is-medium
                      is-fullwidth"
               href="{% url 'accounts:signup' %}"               
               alt="registro">Únete a la Comunidad</a>
        </div>        
    </div>
</div> 
