<aside class="menu">
    <h1 class="menu-label">Cuenta de Usuario</h1>
    {% if not user.is_authenticated %}
    <ul class="menu-list">
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}">Crear usuario</a></li>
        <li><a href="{% url 'accounts:password_reset' %}">Reset Password</a></li>
    </ul>
    {% endif %}
    {% if user.is_authenticated %}
    <h1 class="menu-label">Administrar</h1>
    <ul class="menu-list">
        <li><a href="{% url 'admin_group:application' %}">Grupos de Admin</a></li>
    </ul>
    <h1 class="menu-label">Acciones</h1>
    <ul class="menu-list">
        <li><a href="{% url 'accounts:profile' %}">Perfil</a></li>
        <li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
        {% endif %}
</aside>
