<section>
    <h1 class="title is-2">App de Cuentas de Usuario</h1>
    <p>En esta app puedes hacer lo siguiente:</p>
    <ol>
        <li>Login</li>
        <li>Crear cuenta</li>
        <li>Rescatar password</li>
        <li>Reset Password</li>
        <li>Ver perfil de usuario</li>
    </ol>
</section>
