<aside class="menu sticky">
    {% if user.is_authenticated %}
    <h1 class="menu-label">Perfil de Usuario</h1>
    <h1 class="menu-label">Cuenta</h1>
    <ul class="menu-list">
        <li>
            <a href="{% url 'accounts:profile_user' username=user.username %}">
                Perfil</a></li>
        <li><a href="{% url 'proyecto:application' %}">Mis Proyectos</a></li>
        <li><a href="">Inscripciones</a></li>
    </ul>
    {% if user.is_superuser %}
    <h1 class="menu-label">Grupos</h1>
    <ul class="menu-list">
        <li><a href="{% url 'groups_manager:groups_manager' %}">
            Administración de Grupos</a></li>
    </ul>
    {% endif %}
    <h1 class="menu-label">Administrar</h1>
    <ul class="menu-list">
        <li><a href="{% url 'accounts:profile_user' username=user.username %}">Perfil</a></li>
        {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}">Administrar</a></li>
        {% endif %}
        <!-- check if user CAN manage projects -->
        <li><a href="">Proyectos</a></li>
        <li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
    {% endif %}
</aside>
